class="items-list"
<li *ngFor="let experiencia of experienciaList">
<div id="experiencia">
<div class="container">
    <div class="row">
      <strong>
        <div class="box4">
          <div class="col">EXPERIENCIA<BR>
            <div class="posicion">{{miPorfolio.posicion}}</div>
            <div class="company">{{miPorfolio.company}}/div>
            <div class="img"></div>
            <div class="mode">{{miPorfolio.mode/div>
            <div class="start">{{miPorfolio.start</div>
            <div class="end">{{miPorfolio.end}}</div>
            <div class="timeElapsed">miPorfolio.timeElapsed</div>
            <div class="Place">miPorfolio.Place></div>
          </div>
        </div>
      </strong>
    </div>
  </div>
</div>
</li>